.usa-section{
    margin: 0px 5vh;
}
.usa-nav-container{
    max-width: 100%;
}
.usa-nav__primary>.usa-nav__primary-item {
    width: 10vw;
    height: 10vh;
}
.usa-nav__primary>.usa-nav__primary-item a{
    font-size: 1.1rem;
}
.usa-header--basic .usa-nav{
    justify-content: start;
}

#staffTable table{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}
#staffTable table tr{
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;}

p{
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.usa-nav__primary .usa-accordion__button span , #root > header > div > nav > ul > li:nth-child(1) > a > span, #root > header > div > nav > ul > li:nth-child(2) > a > span  {
    margin-right: 0;
    padding-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (min-width: 64em){
    #root > header > div > div {
        display: none !important;
    }
}

#root > header > div > nav > ul{
width:100%;
}

.spdf-Logo{
    max-width: 100%;
}

#root > header > div > nav > ul > li:nth-child(1) > a{
    padding: 0;
}

